%header.navbar
  %nav.navbar.navbar-default
    .container
      .navbar-header
        %button.navbar-toggle{ :type => "button", :"data-toggle" => "collapse", :"data-target" => ".navbar-collapse" }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-left
          %li
            = link_to 'Flatmate', root_path, html_options = {:class =>'navbar-brand'}
          -# if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              = link_to dashboard_path, html_options = {:class =>'navbar-brand'} do
                %i.fa.fa-usd
                24.73
            %li
              = link_to 'Sign out', destroy_user_session_path, method: :delete
          - else
            %li
              = link_to 'Sign up', new_user_registration_path
            %li
              = link_to 'Sign in', new_user_session_path